.nav-link{
    padding: 20px;
}
#con1{
    background-color:#9d6aef;
    font-size: xx-large;
    padding-left: 100px;
}
body{
    color: azure;
}
nav{
    color: azure;
}
.icons{
    color: black;
    
}
#section2{
    padding: 150px;
}

